<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059012335519-uusa198ekd499fg2qicmo3ibpv2vpikj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059012335519-uusa198ekd499fg2qicmo3ibpv2vpikj</string>
	<key>API_KEY</key>
	<string>AIzaSyCh8hABI8YxlGGnG_NGUc09B6_ZXmNsnYc</string>
	<key>GCM_SENDER_ID</key>
	<string>1059012335519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agenda</string>
	<key>PROJECT_ID</key>
	<string>agenda-af1fb</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-af1fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059012335519:ios:cf9bd817434b6a25e5cfaa</string>
</dict>
</plist>